
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ImportCustomer</title>
</head>
<body>
    @using (Html.BeginForm("ImportCustomer","Import", FormMethod.Post, new { @enctype= "multipart/form-data" }))
    {
        <div> 
            <input type="file" name="file" />
        </div>
        <div>
            <button>Importar</button>
        </div>
    }
</body>
</html>
