<div class="dialog" data-role="dialog" id="modalEnvioEmail">
    <div class="dialog-title bg-lightGray">Envio de E-mail</div>
    <div class="dialog-content overflow">
        <form>

        </form>
    </div>
    <div class="dialog-actions">
        <button class="button secondary js-dialog-close">Cancelar</button>
        <button class="button primary">Enviar</button>
    </div>
</div>